
.container{
    margin: auto;
    margin-top: 10px;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
    background: rgb(230, 226, 226);
    
}

h1 {
    margin-left: 30%;
    font-family: cursive;
    font-size: 80px;
    color: rgb(215, 184, 190);
}

input{
    width: 100%;
}

p {
    font-size: 15px;
}

li {
    list-style-type: none; 
    
 }
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
